.div1 {
  text-align: center;
  height: 400px;
  width: 500px;
  background-color: #ff0000;
  border-radius: 30px;
  font-family: Verdana ;
  font-size: large;
  
}

/* 1st h1 so h11  */
#h11{
text-decoration:underline;
color: rgb(1, 255, 56);

}

/* 1st h2 ,so name is h21 */
#h21{
  color: rgb(38, 38, 184);
}

/*2nd heading 2 so h22 */
#h22{
  color: rgb(4, 201, 255);
}


   

